@import "bpg-mrgvlovani/css/bpg-mrgvlovani.min.css";
@import "alk-rounded-mtav-med/css/alk-rounded-mtav-med.min.css";
@import "bpg-banner-extrasquare-caps/css/bpg-banner-extrasquare-caps.min.css";


* {
  font-family: "BPG Mrgvlovani", sans-serif;
}

span {
  cursor: pointer;
}

.shps {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(50, 38, 214),
    0 0 5px rgb(23, 19, 88);
  font-family: "BPG Banner ExtraSquare Caps", sans-serif;
}

.logotext {
  font-family: "BPG Banner ExtraSquare Caps", sans-serif;
}